.venv/
.git/
.github/
.pytest_cache/
__pycache__/
*.pyc

mlartifacts/
mlflow.db

data/raw/
data/interim/
data/processed/

models/*
!models/modelo_mlp_fraude.keras

notebooks/
docs/
references/

tests/

reports/figures/
reports/results/

*.ipynb_checkpoints
