ipython
jupyterlab
loguru
matplotlib
mkdocs
notebook
numpy
pandas
pip
pytest
python-dotenv
ruff
scikit-learn
joblib
# En Google Colab TensorFlow ya viene instalado. En local, instalar una version
# compatible con la version de Python y el hardware del equipo.
dvc[gdrive]==3.67.1
asyncssh==2.23.1
pyOpenSSL==24.2.1
cryptography==43.0.3
tqdm
typer
-e .
