ipython
jupyterlab
loguru
matplotlib
mkdocs
notebook
numpy
pandas
pip
pytest
python-dotenv
ruff
scikit-learn
joblib
tensorflow>=2.16,<2.21
dvc[gdrive]==3.67.1
asyncssh==2.23.1
pyOpenSSL==24.2.1
cryptography==43.0.3
tqdm
typer
-e .
